@mixin switch-theme-light {
    $background: #fffffe !global;
    $paragraph: #2b2c34 !global;
    $highlight: #6246ea !global;
    $secondary: #d1d1e9 !global;
    $scrollbar: #ccccff !global;
    $scrollbar-background: #a3a3a321 !global;
}