.navbar-style {
  background: $header-background-color;
  min-height: $height-header;

  #defaultNavbar {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .navbar-brand {
    .title {
      color: $header-text-color;
      display: flex;
      align-content: center;

      img {
        height: 40px;
      }

      div {
        margin: auto;
      }
    }

  }

  .btn-outline-secondary {
    background-color: $header-background-color;
    color: $header-text-color;
    border: 1px solid $header-text-color;
  }

  .navbar-toggler {
    background-color: $header-background-color;
    color: $header-text-color !important;
    border: 1px solid $header-text-color !important;
    height: 38px;
    width: 41px;
    box-shadow: none !important;
  }

  .dropdown-toggle {
    color: $header-text-color;

    i {
      margin-right: 8px;
      font-size: 18px;
    }
  }

  .dropdown-menu {
    i {
      font-size: 15px;
      vertical-align: baseline;
    }
  }
}

// .ant-menu {
//   background: $header-background-dropdown-color;
// }
// .ant-menu-submenu-popup > .ant-menu {
//   background-color: $header-background-dropdown-color;
// }
