.common-fieldset {
  padding: 0px 10px 10px 10px;
  border: 1px solid $fieldset-box-color;
  border-radius: 5px;

  legend {
    float: none;
    color: $fieldset-box-color;
    font-size: 15px !important;
    width: auto;
    padding: 0px 5px 5px 5px;
  }
}
