.common-date-picker {
    .ant-picker {
        border: 1px solid $datepicker-border-color;
        background: $datepicker-background-color;

        input {
            color: $datepicker-text-color;
        }

    }
}