.common-datatble {
  width: 100%;
  border: 1px solid $table-border-color;
  border-radius: 2px;

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 12px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: $scrollbar;
  }
}

.react-bootstrap-table {
  margin: 0px;
  overflow: auto;

  .table>:not(caption)>*>* {
    padding: 0px 8px 0px 8px;
  }

  .table-custom {
    table {
      border-collapse: collapse;
    }

    thead {
      position: sticky;
      top: 0;
      background: $table-header-background-color;
      z-index: 1;

      .header-filed {
        overflow-wrap: normal;
        text-align: center;
        position: relative;

        .sort-icon {
          position: absolute;
          right: 0;
          top: 4px;
          visibility: hidden;
        }

        .sort-icon.none {
          visibility: visible;
        }
      }

      .sorting-asc {
        .sort-icon.asc {
          visibility: visible;
        }

        .sort-icon.none {
          visibility: hidden;
        }
      }

      .sorting-desc {
        .sort-icon.desc {
          visibility: visible;
        }

        .sort-icon.none {
          visibility: hidden;
        }
      }

      .selection-cell-header {
        text-align: center;
      }
    }

    tbody[style="display: table-header-group;"] {
      border-top: none;
      position: sticky;
      top: 20px;
      background: #f3f3f3;
      z-index: 1;

      th {
        font-weight: normal;
      }
    }

    tbody {
      border-top: none;

      .custom-row {
        .selection-cell {
          text-align: center;
        }

        .cell {
          width: 100%;
          display: table;
          table-layout: fixed;

          * {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      .custom-row.selection-row,
      .custom-row:hover {

        // td {
        //   border-top: 1pt solid;
        //   border-bottom: 1pt solid;
        // }
        // td:first-child {
        //   border-left: 1pt solid;
        // }
        // td:last-child {
        //   border-right: 1pt solid;
        // }

        outline-color: $table-border-color;
        outline-style: auto;
        outline-width: thin;

        * {
          font-weight: bold;
          color: $table-border-color;
        }
      }

    }
  }
}

.common-datatable-paging {
  display: flex;
  justify-content: space-between;
  padding: 7px 0px 5px 0px;
  margin: 0px 0px 0px 0px;
  //border-top: 1px solid $table-border-color;
  background-color: $table-footer-background-color;

  .total-field {
    margin: 4px 0px 0px 5px;
    color: $paging-font-color;
  }

  .page-filed {}

  .action-field {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: $paging-font-color;

    button {
      margin-right: 7px;
      background-color: transparent;
      border: none;
      padding: 0px;
      text-align: center;

      i {
        font-size: 15px;
      }
    }
  }
}

.common-datatable-paging.client,
.common-datatable-paging.api {
  @media only screen and (max-width: 620px) {

    .total-field *,
    .action-field * {
      display: none;
    }
  }
}