.common-select.ant-select {
  width: 100%;

  .content:first-child {
    padding-left: 0px;
  }

  .content:last-child {
    border-right: none;
  }
}

.custom-options {
  width: 100%;
  height: 24px;

  .row {
    margin: 0px !important;
  }
  .content {
    border-right: 1px solid rgba(0, 0, 0, 0.226);
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    display: table;
    table-layout: fixed;

    * {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .content:last-child {
    border-right: none;
  }
}

.custom-options.header {
  font-weight: bold;
  text-align: center;
}
