.button-style {
  color: $button-text-color;
  background-color: $button-background-color !important;
  border: $button-border-color !important;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  * {
    pointer-events: none;
  }
}
.button-style:hover,
.button-style:focus {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: $button-text-color;
}

.button-style.text {
}

.button-style.icon-text {
  i {
    margin-right: 5px;
  }
}

.button-style.icon {
}

.action-table-style {
  //background-color: $button-text-color !important;
  background-color: none;
  color: $button-background-color !important;
  width: 25px;
  height: 20px;
  padding: 1px;
  margin-right: 3px;
  margin-left: 3px;
  border: transparent;
  box-shadow: transparent;
  outline-color: $button-text-color !important;
}
.action-table-style:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.action-table-style:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.action-table-style:disabled {
  opacity: 0.5 !important;
}
