.custom-datatable {

  table {
    width: 100%;

    td, th {
      border: 1px solid;
    }
  }

  thead {
    th {
      text-align: center;
    }
  }

  tbody {
    .row-editing {
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
    
    td {
      padding: 0px;
    }
  }

  tfoot {

  }
}
