.message-box-style {
    .modal-header {
        padding: 10px;

        .btn-close {
            box-sizing: content-box;
            width: 1em;
            height: 1em;
            padding: 0.25em 0.5em;
            color: #000;
            background: transparent url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23fff%27%3e%3cpath d=%27M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z%27/%3e%3c/svg%3e") center/1em auto no-repeat;
            border: 0;
            border-radius: 0.25rem;
            opacity: 1;
        }
    }

    .modal-content {
        border: none;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        #btnCloseMessageBox {
            border: none;
        }

        #btnConfirmMessageBox {
            border: none;
        }

        #btnCancelMessageBox {
            border: none;
        }
    }

    .modal-footer {
        padding: 5px;
    }
}

.message-box-style.info-message {
    .modal-header {
        background: #2196F3;

        .modal-title {
            color: rgb(255, 255, 255);
        }
    }

    .modal-content {
        #btnCloseMessageBox {
            display: inline;
            background-color: #2196F3 !important;
        }

        #btnConfirmMessageBox {
            display: none;
        }

        #btnCancelMessageBox {
            display: none;
        }
    }
}

.message-box-style.warning-message {
    .modal-header {
        background: #ff9800;

        .modal-title {
            color: rgb(255, 255, 255);
        }
    }

    .modal-content {
        #btnCloseMessageBox {
            display: inline;
            background-color: #ff9800 !important;
        }

        #btnConfirmMessageBox {
            display: none;
        }

        #btnCancelMessageBox {
            display: none;
        }
    }
}

.message-box-style.confirm-message {
    .modal-header {
        background: #2196F3;

        .modal-title {
            color: rgb(255, 255, 255);
        }
    }

    .modal-content {
        #btnCloseMessageBox {
            display: none;
        }

        #btnConfirmMessageBox {
            display: inline;
            background-color: #2196F3 !important;
        }

        #btnCancelMessageBox {
            display: inline;
            background-color: #6c757d !important;
        }
    }
}

.message-box-style.error-message {
    .modal-header {
        background: #f44336;

        .modal-title {
            color: rgb(255, 255, 255);
        }
    }

    .modal-content {
        #btnCloseMessageBox {
            display: inline;
            background-color: #f44336 !important;
        }

        #btnConfirmMessageBox {
            display: none;
        }

        #btnCancelMessageBox {
            display: none;
        }
    }
}